API_IMAGE=campus_connect_api:latest
API_PUBLISHED_PORT=8080
API_REPLICAS=1

# Limites Swarm (API Go estática costuma usar pouca RAM)
API_CPU_LIMIT=1.0
API_MEM_LIMIT=256M
API_CPU_RESERVE=0.25
API_MEM_RESERVE=64M

# CORS_ORIGIN=https://app.seudominio.com
# PUBLIC_BASE_URL=https://api.seudominio.com
